.markdown-body {
  color: white;
  font-size: 1em;
}

.full-height {
  height: 50vh;
  margin: auto;
  display: flex;
  justify-content: center;
}

.separator-stack {
  font-size: 1.4em;

  &__icon {
    vertical-align: middle;
  }

  &__icon:before {
    content: "\00a0  ";
  }
}
