.invoice-items {
  padding: 0.5rem;

  &__item {
    display: flex;
    padding: 0.5rem 0.5rem 0.5rem;
    flex-wrap: wrap;
    border-radius: 1rem;
    align-items: center;
    margin: 1rem 0;

    &__weight-check {
      margin-left: 1rem;
    }

    &__field {
      width: 20rem;
    }

    &__icon {
      width: 2.5rem;
      margin-top: 2.5rem;
    }

    &__info {
      display: flex;
      align-items: center;
      padding: 0 0.5rem;

      &--icn {
        margin-right: 1rem;
      }
    }

    &--add-btn {
      padding: 1.2rem 0;
      background-color: transparent;

      button {
        height: 4rem;
      }
    }
  }
}
