.invoice {
  &__add-item-btn{
    height: 4rem;
    width: 15rem;
  }

  &__item-panel {
    .ms-Panel-main  {
      width: 50rem;
    }

    &__header {
      padding: 1rem;
    }
  }
}

.hoverCard {
  width: 200;
  height: 200;
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
}
