.invoice {
  &__add-item-btn{
    height: 4rem;
    width: 15rem;
  }

  &__hover-card {
    .ms-Callout-main {
      box-shadow: 0 0 1rem var(--color-black);
    }
  }

  &__item-panel {
    .ms-Panel-main  {
      width: 50rem;
    }

    &__header {
      padding: 1rem;
    }
  }
}
