.lock-screen {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: white;

  background-attachment: fixed;
  background-size: cover;
  background: #2c3e50; /* fallback for old browsers */
  background-color: -webkit-linear-gradient(
    to top,
    #3498db,
    #2c3e50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-color: linear-gradient(
    to top,
    #3498db,
    #2c3e50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  &__clock {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    padding: 4rem;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: var(--color-black-op-20);
    border-radius: 1rem;

    &__icn {
      font-size: 3rem;
      margin-right: 2rem;
      margin-top: 0.5rem;
      align-self: center;
    }
  }

  &__hero-icn {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: var(--color-black-op-20);
    margin: 6rem 0;
    padding: 2.5rem;
    border-radius: 50%;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: var(--color-black-op-20);
    border-radius: 1rem;
    transform: scale(1);

    .ms-TextField-fieldGroup {
      background-color: var(--color-black-op-50);
      transition: transform 0.3s ease-in-out;

      // &:focus-within {
      //   transform: scaleX(1.1);
      // }
    }
  }
}

.pretty-huge {
  font-size: 10rem;
}

.huge {
  font-size: 6rem;
}

.not-so-huge {
  font-size: 3rem;
}

.human-size {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  letter-spacing: 0.1ch;
}

.okayish {
  font-size: 4.5rem;
}
