.invoice-item-table {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__no-items {
    font-size: 5rem;
    margin-top: 2rem;
    padding: 3rem;
    color: var(--color-white);
    border-radius: 1rem;
    background-color: var(--color-black-op-20);
  }
}
