.middle-section {
  padding: 5rem;
  color: var(--ice-white);

  &__not-selected {
    padding: 5rem;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-weight: 300;
    opacity: 0.5;
    margin-top: 20rem;
    margin-left: 20rem;
  }

  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 2.4rem;

    & > div {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}
