.header-container {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2rem;
  background-color: var(--color-bg);
  height: 5rem;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.2rem;
    background: var(--after-header-gradient)
  }

  &__left-section {
    display: flex;
  }

  &__right-section {
    display: flex;

    &__products-panel, &__settings-panel {
      .ms-Panel-main  {
        width: 50rem;
      }


      &__header {
        padding-left: 1rem;
      }

      .settings {
        padding: 1rem;
      }
    }

    &__update-panel {
      .ms-Panel-main  {
        width: 40rem;
      }
    }
  }

  &__link {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;

    &__btn {
      height: 100%;
      padding: 0 0.5rem;

      &__exit:hover {
        background-color: var(--color-red-exit);
      }

      &__exit:hover > span > i {
        color: var(--color-white) !important;
      }

      &__mini:hover > span > i {
        color: var(--color-white) !important;
      }
    }
  }
}

.companyName {
  color: var(--color-white);
  padding: 0.5em;
}
