.set-password-modal {
  .ms-Dialog-main {
    width: 60rem;
    min-width: 60rem;
  }

  &__email-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__input {
      flex: 1;
      height: 8.1rem;
      max-width: 40rem;
    }

    &__submit-btn {
      margin-left: 2rem;
      margin-top: 0.8rem;
      width: 15rem;
    }
  }
}
