// color variables
:root {
  --color-white: white;
  --color-white-op-80: rgba(255, 255, 255, 0.8);
  --color-white-op-50: rgba(255, 255, 255, 0.5);
  --color-white-op-20: rgba(255, 255, 255, 0.2);

  --color-black: rgba(0, 0, 0, 1);
  --color-black-op-80: rgba(0, 0, 0, 0.8);
  --color-black-op-50: rgba(0, 0, 0, 0.5);
  --color-black-op-20: rgba(0, 0, 0, 0.2);
  --color-red-exit: rgba(238, 62, 79, 0.75);

  --color-bg: #23272A;
  --color-primary: #36A5F9;

  --color-scrollbar-background: #36393F;
  --color-scrollbar-thumb: #36a4f973;

  --after-header-gradient: -webkit-gradient(linear, 0 0, 100% 0, from(var(--color-scrollbar-thumb)), to(var(--color-scrollbar-thumb)), color-stop(50%, var(--color-primary)));
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*::-webkit-scrollbar {
  width: 1.1rem;
  border-radius: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: var(--color-scrollbar-background);
  border-radius: 1rem;
}

*::-webkit-scrollbar-thumb {
  border: 0.2rem solid transparent;
  background-color: var(--color-scrollbar-thumb);
  border-radius: 1rem;
  background-clip: content-box;
}

main {
  height: calc(100vh);
}

html {
  font-size: 62.5% !important; // 1rem = 10px
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  display: none;
}

.no-box-shadow {
  box-shadow: none;
}

.ms-Panel-navigation {
  position: relative;
  padding-bottom: 1rem;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.2rem;
    background: var(--after-header-gradient)
  }
}

// keyframes animations and classes
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation-slide-up {
  animation: slideUp 0.5s forwards;
}
