// color variables
:root {
  --color-white: white;
  --color-white-op-80: rgba(255, 255, 255, 0.8);
  --color-white-op-50: rgba(255, 255, 255, 0.5);
  --color-white-op-20: rgba(255, 255, 255, 0.2);

  --color-black: rgba(0, 0, 0, 1);
  --color-black-op-80: rgba(0, 0, 0, 0.8);
  --color-black-op-50: rgba(0, 0, 0, 0.5);
  --color-black-op-20: rgba(0, 0, 0, 0.2);

  --color-bg: #23272A;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

main {
  margin: 4rem 2rem;
  padding: 2rem;
}

html {
  font-size: 62.5% !important; // 1rem = 10px
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  display: none;
}

// keyframes animations and classes
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation-slide-up {
  animation: slideUp 1s forwards;
}
