@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
$font-family: 'DM Sans', sans-serif;

// color variables
:root {
  --color-white: white;
  --color-white-op-80: rgba(255, 255, 255, 0.8);
  --color-white-op-50: rgba(255, 255, 255, 0.5);
  --color-white-op-20: rgba(255, 255, 255, 0.2);

  --color-black: rgba(0, 0, 0, 1);
  --color-black-op-80: rgba(0, 0, 0, 0.8);
  --color-black-op-50: rgba(0, 0, 0, 0.5);
  --color-black-op-30: rgba(0, 0, 0, 0.3);
  --color-black-op-20: rgba(0, 0, 0, 0.2);
  --color-red-exit: rgba(238, 62, 79, 0.75);

  --color-bg: #23272a;
  --color-primary: #36a5f9;

  --color-scrollbar-background: #36393f;
  --color-scrollbar-thumb: #36a4f973;

  --after-header-gradient: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(var(--color-scrollbar-thumb)),
    to(var(--color-scrollbar-thumb)),
    color-stop(50%, var(--color-primary))
  );
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.28px;
}

*::-webkit-scrollbar {
  width: 1.1rem;
  border-radius: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: var(
    --color-scrollbar-background
  );
  border-radius: 1rem;
}

*::-webkit-scrollbar-thumb {
  border: 0.2rem solid transparent;
  background-color: var(--color-scrollbar-thumb);
  border-radius: 1rem;
  background-clip: content-box;
}

main {
  height: calc(100vh);
}

html {
  font-size: 62.5% !important; // 1rem = 10px
  font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco,
    Consolas, 'Courier New', monospace;
}

.hidden {
  display: none;
}

.no-box-shadow {
  box-shadow: none;
}

.ms-Panel-navigation {
  position: relative;
  padding-bottom: 1rem;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.2rem;
    background: var(--after-header-gradient);
  }
}

// keyframes animations and classes
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation-slide-up {
  animation: slideUp 0.5s forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animation-scale-up {
  animation: scaleUp 0.5s forwards;
}

@keyframes scaleDown {
  0% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animation-scale-down {
  animation: scaleDown 0.5s forwards;
}

.outside-link {
  color: wheat;
  text-decoration: none;
}

.row-flex {
  display: flex;
  flex-direction: row;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ms-Overlay {
  animation: fadeUp forwards 0.5s;
  -webkit-backdrop-filter: blur(0.8rem);
  backdrop-filter: blur(0.8rem);
  background-color: var(--color-black-op-20);
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
