.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--color-white);
    font-size: 2rem;
  }

  .preview-area {
    height: 535px;
    width: 380px;
    border: 1px dashed white;
    color: var(--color-white);
    display: grid;
    font-size: 3rem;
    place-items: center;
  }
}
