.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__preview-panel {
    .ms-Panel-main  {
      width: 50rem;
    }

    &__doc {
      margin-top: 3rem;
    }
  }

  &__products-panel {
    .ms-Panel-main  {
      width: 50rem;
    }

    &__header {
      padding-left: 1rem;
    }
  }

  &__products-btn {
    height: 4rem;
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--color-white);
    font-size: 2rem;
  }

  .preview-area {
    height: 53.5rem;
    width: 38rem;
    border: 1px dashed var(--color-white);
    color: var(--color-white);
    display: grid;
    font-size: 3rem;
    place-items: center;
  }
}
